*::selection {
  background: var(--background-selection);
  color: var(--foreground-selection); }

html:root, .theme-dark {
  --server-container: calc(var(--server-size) + 40px) !important;
  --border-background: #000;
  --background-primary: #0F111A;
  --background-primary-alt: #0F111A;
  --background-secondary: #1A1C25ad;
  --background-secondary-alt: #2a2e3c7a;
  --background-secondary-alt-2: #2a2e3cd7;
  --background-tertiary: #1A1C25;
  --background-tertiary-alt: #15171e;
  --background-accent: #1e1e20;
  --background-floating: #17181caf;
  --background-mentioned: rgb(132, 255, 255, 0.055);
  --background-mentioned-hover: rgb(132, 255, 255, 0.1);
  --background-selection: #717CB480;
  --foreground-selection: #FFFFFF;
  --text-normal: #8F93A2;
  --header-primary: #84ffff;
  --accent-gradient: 315deg, #009999 0%, #99ffff 76%;
  --accent-gradient-dark: 135deg, #004d4d 24%, #00ffff 100%;
  --spotify-color: #84ffff;
  --alt-color: 0, 138, 138;
  --alt-color-light: #00b3b3;
  --background-modifier-hover:  rgba(72, 77, 101, 0.16);
  --background-modifier-active:  rgba(72, 77, 101, 0.24); }

::placeholder, body, button, input, select, textarea {
  font-family: Fira Sans,Whitney,Helvetica Neue,Helvetica,Arial,sans-serif; }

#app-mount .typeWindows-1za-n7 {
  width: 8%;
  height: 60px !important;
  margin-left: auto; }
  #app-mount .typeWindows-1za-n7 .wordmark-2iDDfm {
    left: auto;
    right: 0; }
    #app-mount .typeWindows-1za-n7 .wordmark-2iDDfm:after {
      content: "\/Saber\/";
      top: 200%;
      right: 150%;
      background: linear-gradient(var(--accent-gradient));
      -webkit-background-clip: text;
      background-clip: text; }
  #app-mount .typeWindows-1za-n7 .winButton-iRh8-Z {
    width: 45px;
    height: 50px; }
    #app-mount .typeWindows-1za-n7 .winButton-iRh8-Z svg {
      padding-top: 10px; }
    #app-mount .typeWindows-1za-n7 .winButton-iRh8-Z:hover {
      background-color: transparent; }
  #app-mount .typeWindows-1za-n7 .winButtonClose-1HsbF- {
    width: 50px; }
    #app-mount .typeWindows-1za-n7 .winButtonClose-1HsbF- svg {
      padding-right: 7.5px; }
    #app-mount .typeWindows-1za-n7 .winButtonClose-1HsbF-:hover {
      color: var(--rs-dnd-color); }
  #app-mount .typeWindows-1za-n7 .winButtonMinMax-PBQ2gm:nth-child(3):hover {
    color: var(--rs-online-color); }
  #app-mount .typeWindows-1za-n7 .winButtonMinMax-PBQ2gm:nth-child(4):hover {
    color: var(--rs-idle-color); }

#app-mount .app-1q1i1E {
  top: 0;
  margin-top: -63px; }
  #app-mount .app-1q1i1E .powercord-updater {
    background-color: var(--background-tertiary); }
    #app-mount .app-1q1i1E .powercord-updater > .header, #app-mount .app-1q1i1E .powercord-updater > .contents, #app-mount .app-1q1i1E .powercord-updater > .buttons {
      background-color: var(--background-tertiary); }
      #app-mount .app-1q1i1E .powercord-updater > .header .inner, #app-mount .app-1q1i1E .powercord-updater > .contents .inner, #app-mount .app-1q1i1E .powercord-updater > .buttons .inner {
        background-color: var(--background-secondary-alt); }
    #app-mount .app-1q1i1E .powercord-updater .colorGreen-29iAKY {
      color: var(--header-primary);
      border-color: var(--header-primary); }
  #app-mount .app-1q1i1E .markup-2BOw-j code.inline {
    font-family: Fira Code,Consolas,Andale Mono WT,Andale Mono,Lucida Console,Lucida Sans Typewriter,DejaVu Sans Mono,Bitstream Vera Sans Mono,Liberation Mono,Nimbus Mono L,Monaco,Courier New,Courier,monospace; }
  #app-mount .app-1q1i1E .container-2lgZY8 {
    background-color: var(--border-background); }
    #app-mount .app-1q1i1E .container-2lgZY8 .inviteToolbar-3F-l2g {
      margin-left: 4px; }
    #app-mount .app-1q1i1E .container-2lgZY8 .children-19S4PO:after {
      background: var(--background-modifier-accent);
      width: 1px;
      margin: 0 8px; }
      #app-mount .app-1q1i1E .container-2lgZY8 .children-19S4PO:after .item-3HknzM[aria-label*="Friend"] {
        background-color: #008a8a; }
    #app-mount .app-1q1i1E .container-2lgZY8 .sidebar-2K8pFh, #app-mount .app-1q1i1E .container-2lgZY8 .container-1D34oG, #app-mount .app-1q1i1E .container-2lgZY8 .wrapper-3NnKdC {
      box-sizing: border-box;
      border: 4px solid var(--border-background);
      border-radius: 18px !important; }
      #app-mount .app-1q1i1E .container-2lgZY8 .sidebar-2K8pFh .scroller-1Bvpku .circleIconButton-1QV--U, #app-mount .app-1q1i1E .container-2lgZY8 .container-1D34oG .scroller-1Bvpku .circleIconButton-1QV--U, #app-mount .app-1q1i1E .container-2lgZY8 .wrapper-3NnKdC .scroller-1Bvpku .circleIconButton-1QV--U {
        color: var(--header-primary); }
        #app-mount .app-1q1i1E .container-2lgZY8 .sidebar-2K8pFh .scroller-1Bvpku .circleIconButton-1QV--U.selected-1JjBPm, #app-mount .app-1q1i1E .container-2lgZY8 .container-1D34oG .scroller-1Bvpku .circleIconButton-1QV--U.selected-1JjBPm, #app-mount .app-1q1i1E .container-2lgZY8 .wrapper-3NnKdC .scroller-1Bvpku .circleIconButton-1QV--U.selected-1JjBPm {
          background: #008a8a; }
      #app-mount .app-1q1i1E .container-2lgZY8 .sidebar-2K8pFh .scroller-1Bvpku div[aria-label*="Servers"] > .listItem-GuPuDH, #app-mount .app-1q1i1E .container-2lgZY8 .sidebar-2K8pFh .scroller-1Bvpku .wrapper-3Njo_c > .listItem-GuPuDH, #app-mount .app-1q1i1E .container-2lgZY8 .sidebar-2K8pFh .scroller-1Bvpku .tutorialContainer-2sGCg9 > .listItem-GuPuDH, #app-mount .app-1q1i1E .container-2lgZY8 .sidebar-2K8pFh .scroller-1Bvpku .tutorialContainer-30WoTp > .listItem-GuPuDH, #app-mount .app-1q1i1E .container-2lgZY8 .container-1D34oG .scroller-1Bvpku div[aria-label*="Servers"] > .listItem-GuPuDH, #app-mount .app-1q1i1E .container-2lgZY8 .container-1D34oG .scroller-1Bvpku .wrapper-3Njo_c > .listItem-GuPuDH, #app-mount .app-1q1i1E .container-2lgZY8 .container-1D34oG .scroller-1Bvpku .tutorialContainer-2sGCg9 > .listItem-GuPuDH, #app-mount .app-1q1i1E .container-2lgZY8 .container-1D34oG .scroller-1Bvpku .tutorialContainer-30WoTp > .listItem-GuPuDH, #app-mount .app-1q1i1E .container-2lgZY8 .wrapper-3NnKdC .scroller-1Bvpku div[aria-label*="Servers"] > .listItem-GuPuDH, #app-mount .app-1q1i1E .container-2lgZY8 .wrapper-3NnKdC .scroller-1Bvpku .wrapper-3Njo_c > .listItem-GuPuDH, #app-mount .app-1q1i1E .container-2lgZY8 .wrapper-3NnKdC .scroller-1Bvpku .tutorialContainer-2sGCg9 > .listItem-GuPuDH, #app-mount .app-1q1i1E .container-2lgZY8 .wrapper-3NnKdC .scroller-1Bvpku .tutorialContainer-30WoTp > .listItem-GuPuDH {
        margin-left: 16px; }
      #app-mount .app-1q1i1E .container-2lgZY8 .sidebar-2K8pFh .scroller-1Bvpku > .listItem-GuPuDH, #app-mount .app-1q1i1E .container-2lgZY8 .container-1D34oG .scroller-1Bvpku > .listItem-GuPuDH, #app-mount .app-1q1i1E .container-2lgZY8 .wrapper-3NnKdC .scroller-1Bvpku > .listItem-GuPuDH {
        margin-left: 16px; }
    #app-mount .app-1q1i1E .container-2lgZY8 .wrapper-3NnKdC {
      padding-top: 72px;
      margin: 4px 4px 0 4px;
      height: calc(100vw - 8px) !important; }
      #app-mount .app-1q1i1E .container-2lgZY8 .wrapper-3NnKdC .pill-1aYSec > .wrapper-sa6paO, #app-mount .app-1q1i1E .container-2lgZY8 .wrapper-3NnKdC .pill-3N7f9r {
        display: none; }
      #app-mount .app-1q1i1E .container-2lgZY8 .wrapper-3NnKdC [class*="pill"] {
        top: calc(var(--server-size) / -1 + var(--server-size) / 2 - -54px) !important; }
        #app-mount .app-1q1i1E .container-2lgZY8 .wrapper-3NnKdC [class*="pill"] span {
          border-radius: 4px 0 0 4px; }
    #app-mount .app-1q1i1E .container-2lgZY8 .base-3dtUhz {
      margin-top: 4px; }
      #app-mount .app-1q1i1E .container-2lgZY8 .base-3dtUhz .container-1D34oG {
        padding-right: 0;
        margin-right: 4px;
        margin-bottom: 4px;
        left: 0;
        background-color: transparent; }
        #app-mount .app-1q1i1E .container-2lgZY8 .base-3dtUhz .container-1D34oG .container-1r6BKw.themed-ANHk51 {
          background-color: var(--background-tertiary); }
        #app-mount .app-1q1i1E .container-2lgZY8 .base-3dtUhz .container-1D34oG .peopleColumn-29fq28, #app-mount .app-1q1i1E .container-2lgZY8 .base-3dtUhz .container-1D34oG .nowPlayingColumn-2sl4cE {
          background-color: var(--background-tertiary-alt); }
          #app-mount .app-1q1i1E .container-2lgZY8 .base-3dtUhz .container-1D34oG .peopleColumn-29fq28 .container-2lgZY8 .thin-1ybCId, #app-mount .app-1q1i1E .container-2lgZY8 .base-3dtUhz .container-1D34oG .nowPlayingColumn-2sl4cE .container-2lgZY8 .thin-1ybCId {
            width: auto; }
        #app-mount .app-1q1i1E .container-2lgZY8 .base-3dtUhz .container-1D34oG .inset-3sAvek {
          background-color: var(--background-secondary-alt); }
      #app-mount .app-1q1i1E .container-2lgZY8 .base-3dtUhz .sidebar-2K8pFh {
        margin: 0 0 4px 4px;
        background-color: var(--background-tertiary);
        padding-right: 0; }
        #app-mount .app-1q1i1E .container-2lgZY8 .base-3dtUhz .sidebar-2K8pFh .panels-j1Uci_ {
          background-color: var(--background-secondary); }
        #app-mount .app-1q1i1E .container-2lgZY8 .base-3dtUhz .sidebar-2K8pFh .scroller-1JbKMe, #app-mount .app-1q1i1E .container-2lgZY8 .base-3dtUhz .sidebar-2K8pFh .scroller-RmtA4e {
          background-color: var(--background-tertiary-alt); }
        #app-mount .app-1q1i1E .container-2lgZY8 .base-3dtUhz .sidebar-2K8pFh .channel-2QD9_O {
          margin-right: 8px; }
        #app-mount .app-1q1i1E .container-2lgZY8 .base-3dtUhz .sidebar-2K8pFh .container-1giJp5 {
          border-bottom: none; }
      #app-mount .app-1q1i1E .container-2lgZY8 .base-3dtUhz .applicationStore-1pNvnv {
        border: 4px solid var(--border-background);
        border-radius: 18px !important;
        margin: 0 4px 4px 0;
        padding-right: 0;
        left: 0; }
      #app-mount .app-1q1i1E .container-2lgZY8 .base-3dtUhz .chat-3bRxxu {
        border: 4px solid var(--border-background);
        border-radius: 18px !important;
        margin: 0 4px 4px 0;
        padding-right: 0;
        left: 0; }
        #app-mount .app-1q1i1E .container-2lgZY8 .base-3dtUhz .chat-3bRxxu .title-3qD0b- {
          background-color: var(--background-secondary); }
        #app-mount .app-1q1i1E .container-2lgZY8 .base-3dtUhz .chat-3bRxxu .member-3-YXUe {
          margin-left: 0 8px; }
        #app-mount .app-1q1i1E .container-2lgZY8 .base-3dtUhz .chat-3bRxxu .chatContent-a9vAAp {
          margin-right: 0; }
          #app-mount .app-1q1i1E .container-2lgZY8 .base-3dtUhz .chat-3bRxxu .chatContent-a9vAAp .form-2fGMdU {
            padding-right: 32px; }
            #app-mount .app-1q1i1E .container-2lgZY8 .base-3dtUhz .chat-3bRxxu .chatContent-a9vAAp .form-2fGMdU .scrollableContainer-2NUZem {
              background-color: var(--background-secondary-alt-2); }
            #app-mount .app-1q1i1E .container-2lgZY8 .base-3dtUhz .chat-3bRxxu .chatContent-a9vAAp .form-2fGMdU .buttons-3JBrkn {
              margin-right: 0 !important; }
          #app-mount .app-1q1i1E .container-2lgZY8 .base-3dtUhz .chat-3bRxxu .chatContent-a9vAAp .unreadPill-2HyYtt {
            line-height: 0; }
          #app-mount .app-1q1i1E .container-2lgZY8 .base-3dtUhz .chat-3bRxxu .chatContent-a9vAAp .message-2qnXI6 {
            margin-right: 8px;
            border-radius: 10px; }
            #app-mount .app-1q1i1E .container-2lgZY8 .base-3dtUhz .chat-3bRxxu .chatContent-a9vAAp .message-2qnXI6 .avatar-1BDn8e {
              border-radius: 25%; }
            #app-mount .app-1q1i1E .container-2lgZY8 .base-3dtUhz .chat-3bRxxu .chatContent-a9vAAp .message-2qnXI6 .contents-2mQqc9 {
              margin-top: 8px; }
            #app-mount .app-1q1i1E .container-2lgZY8 .base-3dtUhz .chat-3bRxxu .chatContent-a9vAAp .message-2qnXI6 .repliedMessage-VokQwo {
              line-height: 1.75rem; }
      #app-mount .app-1q1i1E .container-2lgZY8 .base-3dtUhz .panels-j1Uci_ .powercord-spotify {
        position: fixed;
        right: 7.5%;
        top: 10px;
        margin-top: 28px;
        transition: margin-top .2s;
        border-radius: 10px;
        overflow: hidden;
        background: var(--background-primary) !important;
        width: 360px; }
        #app-mount .app-1q1i1E .container-2lgZY8 .base-3dtUhz .panels-j1Uci_ .powercord-spotify .spotify-seek-bar {
          background: linear-gradient(var(--accent-gradient-dark)); }
      #app-mount .app-1q1i1E .container-2lgZY8 .base-3dtUhz .panels-j1Uci_ .powercord-spotify.hover {
        margin-top: 20px; }
        #app-mount .app-1q1i1E .container-2lgZY8 .base-3dtUhz .panels-j1Uci_ .powercord-spotify.hover .spotify-extra-controls + .spotify-seek {
          margin-top: -18px; }
        #app-mount .app-1q1i1E .container-2lgZY8 .base-3dtUhz .panels-j1Uci_ .powercord-spotify.hover .container-3baos1 {
          margin-top: -5px; }
      #app-mount .app-1q1i1E .container-2lgZY8 .base-3dtUhz .panels-j1Uci_ .container-3baos1 .avatarWrapper-2yR4wp {
        top: 34px;
        border-radius: 18px;
        left: 12px;
        animation: none; }
        #app-mount .app-1q1i1E .container-2lgZY8 .base-3dtUhz .panels-j1Uci_ .container-3baos1 .avatarWrapper-2yR4wp::after {
          right: -5px; }
      #app-mount .app-1q1i1E .container-2lgZY8 .base-3dtUhz .panels-j1Uci_ .container-3baos1 .nameTag-3uD-yy, #app-mount .app-1q1i1E .container-2lgZY8 .base-3dtUhz .panels-j1Uci_ .container-3baos1 .flex-1xMQg5:not(.spotify-buttons) {
        top: 47px; }

#app-mount .layerContainer-yqaFcK .header-1TKi98, #app-mount .layerContainer-yqaFcK .content-1LAB8Z, #app-mount .layerContainer-yqaFcK .footer-2gL1pp {
  background-color: var(--background-primary); }
  #app-mount .layerContainer-yqaFcK .header-1TKi98 .colorHeaderPrimary-26Jzh-, #app-mount .layerContainer-yqaFcK .content-1LAB8Z .colorHeaderPrimary-26Jzh-, #app-mount .layerContainer-yqaFcK .footer-2gL1pp .colorHeaderPrimary-26Jzh- {
    color: var(--header-primary); }
